body{
  position: relative;
  background-color: #D4ECE5;
  font-family: 'roboto', sans-serif;
  padding-bottom: 5em;
  min-height: 100%;
}
body a{
  text-decoration: none;
 
}

/* navbar */

.mynav a{
  color: #333333;
}
.mynav a{
  color: #333333;
}
.mynav .pencarian{
  color: #333333;

}
.mynav a{
  
  border-bottom: 3px solid transparent;
}
.mynav a:hover{
  color: #CC9966;
  border-bottom: 3px solid #CC9966;
}
li .aktif{
  color: #CC9966;
  border-bottom: 3px solid #CC9966;
}

.bb{
  color: #333333;
}
.bb:hover{
  color: #CC9966;
  border-bottom: 3px solid #CC9966;
}
.fixx{
  background-color: #b8d8cf;
  border: 1px solid whitesmoke;

}
.round{
  background-color: #333333;
  
}
.round .togle{
  color: white;
}

.round a  {
  color: white;
}
.round .pencarian  {
  color: white;
}
.round a  {
  color: white;
}
.down {
  background-color: #333333;
}
.down a {
  color: white;
}
.down button {
  color: white;
}

/* jenis */
.jenis li {
  list-style-type: none;
  margin-right: 10px;
  padding: 5px;
  background-color: #333333;
  border-radius: 5px;

}

.jenis  a{
  color: #D4ECE5;
  font-size: larger;
}
.jenis a:hover{
  opacity: 0.5;
}


/* end */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
  transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
  bottom: 0.5rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

nav sticky{
 padding: 5px 100px;
 background-color: #D4ECE5;
}

.btndiskon{
  background-color: #CC9966;
  padding: 10px;
  color: white;
  font-weight: bold;
  opacity: 0.8;
}
.btndiskon:hover{
  background-color: white;
  color: #CC9966;
  opacity: 1;
}

/* produk */
.produk {
  position: absolute;
  top: 74%;
  opacity: 0;
  width: 100%;
}

.card:hover .produk{
  position: absolute;
  top: 10%;
  opacity: 0;
  width: 100%;
}

.btnpro{
  background-color: #CC9966;
  color: white;
  opacity: 1;
}
.btnpro:hover{
  background-color: white;
  color: #CC9966;
  opacity: 1;
}
.card:hover .produk {
  top: 221px;
  opacity: 1;
  transition:all .2s ease-in;
}
.semuaproduk {
  position: absolute;
  top: 74%;
  opacity: 0;
  width: 100%;
}
.card:hover .semuaproduk {
  top: 221px;
  opacity: 1;
  transition:all .2s ease-in;
}



/* produk */

/* trending */
.trending{
  /* From https://css.glass */
  box-shadow: 2px -2px 18px 2px #000;
}


.hovertrend:hover{
  opacity: .94;
  transition: all .3s;
}

.trending:hover{
  opacity: 0.9;
}
/* Batas trending */

/* keranjang */
.keranjang{
  background: #fffefe;
  background: linear-gradient(180deg,#fffefe 0%, #d4ece5 80%);
  background: -webkit-linear-gradient(180deg,#fffefe 0%, #d4ece5 80%);
  background: -moz-linear-gradient(180deg,#fffefe 0%, #d4ece5 80%);
}

.belikeranjang{
  padding: 6px;
  background-color: #CC9966;
  margin-left: 1000px;
  border-radius: 10px;
}
.belikeranjang:hover{
  background-color: #d86e05;
}

/* 
BELIPRODUK */
.btnproduk{
  background-color: #CC9966;
  padding: 10px;
  color: white;
  font-weight: bold;
  
}
.btnproduk:hover{
  background-color: white;
  color: #CC9966;
  
}
/* view */
.bayangan{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.35);
}
.figure p{
  color: black;
}

/* checkout */
.checkout-form label{
  font-size: 12px;
  font-weight: 700;
}
.checkout-form input{
  font-size: 14px;
  padding: 5px;
  font-weight: 400;
}

.hovertrend:hover{
  
    filter: brightness(90%);
    transition: all 0.15s linear;

}

.gender{
  width: 90px;
}
.whatsapp{
  bottom: 10px;
  left: 10px;
  position: fixed;
}

.kontak a{
  color: #333333;
  
}
.kontak{
  outline:  solid #D4ECE5;
}
.kontak:hover{
  filter: brightness(120%);
  transition: all .3s;
}

.icontrend{
  position: absolute;
  top: 2px;
  left: 2px;
  opacity: 1;
  z-index: 1;
}
footer{
position: absolute;
bottom: 0;
}
.cart-count{
  background-color: #CC9966;
}

footer{
  position: relative;
  top: 110px;
  
}
.more:active{
  box-shadow: none;
  position: relative;
  top: 10px;
  transition: all .2s;
}

.viewicon{
  right: 67px;
  top: 2px;
}
.judul{
  color: #333333;
}

.menuhome{
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.card:hover .menuhome{
  bottom: 87px;
  width: 100%;
  opacity: 1;
  transition: all .3s ease-in-out;
  
}



